{{- $remote := or (env "CODESPACES" | not | not) (env "SSH_CONNECTION" | not | not) (env "KUBERNETES_SERVICE_HOST" | not | not) (env "container" | not | not) (env "REMOTE_CONTAINERS" | not | not) (stat "/.dockerenv" | not | not) -}}
sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
  remote = {{ $remote }}
  name = {{ promptStringOnce . "name" "Git name" | quote }}
  email = {{ promptStringOnce . "email" "Git email" | quote }}

{{- if not $remote }}
[git]
  autoCommit = true
{{- end }}
